{% extends "layout.html" %}

{% block title %}
    Upload Excel Data
{% endblock %}

{% block main %}

    <label class="m-2">Select an .xls file</label>
    <form action="/uploaded" method="post" enctype = "multipart/form-data">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="file" name="file" placeholder="Select one excel file..." type="file">
        </div>
        <button class="btn btn-primary" type="submit" name="upload">Upload</button>
        <button class="btn btn-primary" type="submit" name="check">Check</button>
    </form>
{% endblock %}
